.blurry-container {
  transition: all .8s;
}

.blur {
  -webkit-filter: blur(1px);
  left: 1px;
}

.shape {
  position: absolute;
  top: 0px;
  opacity: 0;
  left: 0px;
  transition: opacity 6s;
  width: 100%;
}
